.Tarefa__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: 430px;

}
.Tarefa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(252, 249, 249);
    min-width: 100%;
    width: 300px;
    min-height: 4vh;
    gap: 30px;
    cursor: pointer;
}
.TarefaLista__tag {
    background-color:rgb(37, 136, 138) !important;
    color: white !important;
    position: relative;
    font-size: 0.6em;
    border-radius: 5px;
    padding: 5px;
    top: 15px;
    left: 10px;
    letter-spacing: 1px;
}
.TarefaLista__tag--deletar{
    background-color:rgb(219, 49, 49) !important;
    color: white !important;
    position: relative;
    font-size: 0.6em;
    border-radius: 5px;
    padding: 5px;
    top: 15px;
    left: 10px;
    letter-spacing: 1px;
}
