.TarefaDetalhes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.Tarefa__Todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(252, 249, 249);
  min-width: 100%;
  min-width: 150px;
  min-height: 4vh;
  gap: 5px;
}

